.widget {
  border: 3px solid white;
  border-radius: 8px;
  background-color: black;
  opacity: 0;
  transition: transform 190ms ease-in-out;
}

.widgets-grid {
  padding-top: 240px;
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.widget:hover {
  z-index: 1;
  transform: scale(1.1);
}

.one {
  animation: fade-in 1000ms ease-out 1300ms 1;
  animation-fill-mode: forwards;
}

.two {
  animation: fade-in 1000ms ease-out 1400ms 1;
  animation-fill-mode: forwards;
}

.three {
  animation: fade-in 1000ms ease-out 1500ms 1;
  animation-fill-mode: forwards;
}

.four {
  animation: fade-in 1000ms ease-out 1200ms 1;
  animation-fill-mode: forwards;
}

.five {
  animation: fade-in 1000ms ease-out 1100ms 1;
  animation-fill-mode: forwards;
}

.six {
  animation: fade-in 1000ms ease-out 1000ms 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .widgets-grid {
    grid-template-columns: 1fr 1fr;
  }
}
