.topbar {
  width: 100%;
  height: 64px;
  position: relative;
  flex-shrink: 0;
}

.time {
  margin: 0;
  height: 64px;
  color: var(--color);
  font-size: 50px;
  font-weight: 550;
  position: absolute;
  left: 4rem;
  padding-left: 10px;
}

.date-home {
  margin: 0;
  color: var(--color);
  font-size: 25px;
  font-weight: 550;
  position: absolute;
  left: 14rem;
  bottom: 0;
}

.theme-switch-wrapper {
  position: absolute;
  right: 4rem;
  top: 1rem;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}