<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/todolist_widget.css' %}" />
    <title>SMART BOARD</title>
  </head>

  <body>
    <div class="todolist">
      <div class="list">
        <p class="title"> ToDo's</p>
        <p class="todo one"></p>
        <p class="todo two"></p>
        <p class="todo three"></p>
        <p class="todo four"></p>
      </div>
      <div class="add"> 
        <a href="/todolist_app">
          <p class="symbol"><span class="material-icons">
           add
           </span></p>
       </a>
      </div>
        
    </div>
    <script>
      // updates todos if websocket sends new ones
      let old_todos = undefined;
      function update_todo(djangoData) 
      {
        let todos = djangoData.todos;
        if (JSON.stringify(todos) !== JSON.stringify(old_todos))
        {
          for (let i = 0; i < 4; i++)
          {
            try 
            {
              todo = todos[i]['title']['title'];
              switch (i)
              {
                case 0:
                  var p = document.getElementsByClassName("todo one");
                  break;
                case 1:
                  var p = document.getElementsByClassName("todo two");
                  break;
                case 2:
                  var p = document.getElementsByClassName("todo three");
                  break;
                case 3:
                  var p = document.getElementsByClassName("todo four");
                  break;
                default:
                  var p = document.getElementsByClassName("todo one");
                  break;
              }
              var input = document.createElement("input");
              input.type="checkbox";
              p[0].append(input);
              p[0].append(" ");
              p[0].append(todo);
            } catch (error)
            {
              old_todos = todos;
              break;
            }
          }
          old_todos = todos;
        }
      }
    </script>
  </body>
</html>