<!DOCTYPE html>
<html>
  <header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/weather_widget.css' %}" />
    <title>SMART BOARD</title>
    <script>
      // updates todos if websocket sends new ones
      function update_weather(djangoData) {
        if(djangoData.weatherData !== undefined){
          document.querySelector(".temperature").innerText =
            djangoData.weatherData.temperature + " °C";
          document.querySelector(".icon").src = djangoData.weatherData.icon;
          document.querySelector(".text").innerText = djangoData.weatherData.text;
          document.querySelector(".humidity").innerText =
          djangoData.weatherData.humidity + " %";
          document.querySelector(".location").innerText =
            djangoData.weatherData.location;
        }
      }
    </script>
  </header>
  <body>
    <div class="weather">
      <div class="temp-display">
        <div class="current-weather">
          <img class="icon" />
          <p class="temperature"></p>
          <p class="text"></p>
        </div>
      </div>
      <div class="weather-sidebar">
        <div class="humidity-wrapper">
          <span class="material-icons-outlined" id="water_drop">water_drop</span>
          <p class="humidity"></p>
        </div>
        <div class="location-wrapper">
          <span class="material-icons-outlined" id="place">place</span>
          <p class="location"></p>
        </div>
      </div>
    </div>

  </body>
</html>
