<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <title>SMART BOARD</title>
  </head>
  <body>

    <main>

      <div class="sidebar">
        <a href="" class="home">
          <span class="material-icons-outlined">home</span>
        </a>
        <a href="" class="settings">
          <span class="material-icons">tune</span>
        </a>
        <a href="" class="customize">
          <span class="material-icons">dashboard_customize</span>
        </a>
      </div>

      <div class="main-part">

        <div class="header">
            <h1 class="time-date">N/A</h1>

          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>
        </div>

        <div class="widget-grid">
          <div class="widget 1"></div>
          <div class="widget 2"></div>
          <div class="widget 3"></div>
          <div class="widget 4"></div>
        </div>
      </div>

    </main>
    <script>
      const loc = window.location
      
      const protocol = 'ws://'
      if (loc.protocol == 'https'){
        const protocol = 'wss://'
      }

      const connection = protocol + loc.host + '/ws/time/';
      var socket = new WebSocket(connection);

      socket.onmessage = function (e) {
          var djangoData = JSON.parse(e.data);

          document.querySelector('.time-date').innerText = djangoData.time;
      }
    </script>
    <script>
      const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

      function switchTheme(e) {
          if (e.target.checked) {
              document.documentElement.setAttribute('data-theme', 'dark');
          }
          else {
              document.documentElement.setAttribute('data-theme', 'light');
          }    
      }

      toggleSwitch.addEventListener('change', switchTheme, false);
    </script>
  </body>
</html>