<!DOCTYPE html>
<html lang="en" class="animated slideInUp">
<head>
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/home_page.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/banner.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/settings_icon.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/general.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="banner">
      <div class="square">
      </div>
      {% load static %}
      <a class="settings-icon"><img src="{% static 'icons/setting.png' %}"></a>
      <p class="greeting-message">
        {{ msg }} 
      </p>
    </div>
    <div class="widgets-grid">

      <div class="widget one">
        <p class="temperature"></p>
        <img class="icon">
        <p class="humidity"></p>
        <p class="location"></p>
      </div>
      
      <div class="widget two">
        <p class="time"></p>
      </div>

      <div class="widget three">
      </div>

      <div class="widget four">
      </div>
      
      <div class="widget five">
      </div>

      <div class="widget six">
      </div>

    </div>
  </main>
  <script>
    const loc = window.location;
    
    const protocol = 'ws://';
    if (loc.protocol == 'https'){
      const protocol = 'wss://';
    }

    const weather_connection = protocol + loc.host + '/ws/weather/';
    const time_connection = protocol +  loc.host + '/ws/timeWidget/';
    var weather_socket = new WebSocket(weather_connection);
    var time_socket = new WebSocket(time_connection);

    time_socket.onmessage = function (e) {
        var django_time_data = JSON.parse(e.data);

        document.querySelector('.time').innerText = django_time_data.time;
    }

    weather_socket.onmessage = function (e) {
        var django_weather_data = JSON.parse(e.data);

        document.querySelector('.temperature').innerText = django_weather_data.temperature + ' °C';
        document.querySelector('.icon').src = django_weather_data.icon;
        document.querySelector('.humidity').innerText = django_weather_data.humidity + ' %';
        document.querySelector('.location').innerText = django_weather_data.location;
    }
  </script>
</body>
</html>