<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/todolist_widget.css' %}" />
    <title>SMART BOARD</title>
  </head>

  <body>
    <div class="todolist">
        
          <div class="field">
            <form method='POST' action='todolist''>
              {% csrf_token %}
              {{form.title}}
              
              <input id='test' type='submit' name='Create Task'>
            </form>
          
          {% for task in tasks %}
              <div>
                  <p>{{task}}</p>
              </div>
          {% endfor %}

            <div>
              <a href="/todolist_app">
                <p>+</p>
              </a>
            </div>

          </div>
        
    </div>

  </body>
</html>