<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/todolist_widget.css' %}" />
    <title>SMART BOARD</title>
  </head>

  <body>
    <div class="todolist">
      <p></p>
      <div>
        <a href="/todolist_app">
            <p>+</p>
        </a>
      </div>
        
    </div>
    <script>

      function update_func(djangoDataToDo){
        let todos = djangoDataToDo.todos
        console.log(todos)
        todos.forEach(function (todo) {
          const tododiv = document.createElement("div");
          tododiv.innerText = todo.duedate + " " + todo.title;
          const checkbox = document.createElement("input");
          checkbox.type = "checkbox";

        });
        
      }
    </script>
  </body>
</html>