body {
  background-color: var(--background);
}

a {
  text-decoration: none;
  margin: 0;
}

a p{
  color: var(--color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.quick-access {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00adb5;
}

.time {
  display: inline-block;
  font-size: 70px;
  font-weight: 650;
}

.date {
  display: inline-block;
  font-size: 25px;
  font-weight: 550;
}
}
