.todolist {
  text-align: center;
  height: 100%;
  width: 100%;
  
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  color: var(--color)

}