.todo_app {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  h1 {
    color: var(--color-text);
    margin: 0;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #app-icon {
    color: var(--color-text);
    height: 72px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }