body {
  height: 100%;
  
}
.todolist {
  height: 100%;
  background-color: var(--color);
  width: 100%;
  text-align: center;
  
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

}