p {
  margin: 0;
  color: var(--color);
  font-size: 25px;
}

.weather {
  padding: 1.5rem;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.temp-display {
  position: absolute;
  width: 250px;
  top: 1.5rem;
  bottom: 1.5rem;
}

.temp-display img {
  width: 100px;
  display: inline-block;
}

.temperature {
  display: inline;
  position: absolute;
  top: 10px;
  font-size: 55px;
  font-weight: 600;
}

.text {
  position: absolute;
  top: 90px;
  width: 100px;
  text-align: center;
  font-size: 25px;
}

.weather-sidebar {
  position: absolute;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
  border-left: solid 1.5px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-sidebar span {
  color: var(--color);
}
