<!DOCTYPE html>
<html lang="en" class="animated slideInUp">
<head>
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/styles/home_page.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/styles/banner.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/styles/settings_icon.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/styles/general.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="banner">
      <div class="square">
      </div>
      {% load static %}
      <a class="settings-icon"><img src="{% static 'main/media/setting.png' %}" alt="home"></a>
      <p class="greeting-message">
        Good morning!
      </p>
    </div>
    <div class="widgets-grid">

      <div class="widget one">
      </div>
      
      <div class="widget two">
      </div>

      <div class="widget three">
      </div>

      <div class="widget four">
      </div>
      
      <div class="widget five">
      </div>

      <div class="widget six">
      </div>

    </div>
  </main>
</body>
</html>